@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Poppins', sans-serif;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
:root {
  --primary-color: #0A2AE7;
  --light-color: white;
  --dark-color: #20272E;
  --gray-color: #ECEFF1;
  --success-color: #14A81C;
}